{% extends 'layout/base.html' %}
{% block site_wrapper %}
<div class="container" style="margin-top: 120px">
  <h1>Aviso de Privacidad</h1>
  <p>
    Con el fin de cumplir con lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDPPP), la empresa Focus Investigación S. de R.L. de C.V. con domicilio en Ave. Santa María 2841 Col. América C.P. 22044 en Tijuana, Baja California da a conocer el presente aviso de privacidad que aplica a los datos personales recopilados previo a consentimiento de su Titular, y mediante el cual se le hace saber el tratamiento que la empresa en su carácter de responsable realizara con los datos personales que nos sean proporcionados, comprometiéndose a garantizar el uso correcto y la protección de los mismos bajo las más estrictas medidas de seguridad que garanticen la confidencialidad.
  </p>

  <h2>
    I.- Recopilación y consentimiento de datos personales.
  </h2>
  <p>
    Los datos personales que podremos recabar a través de su consentimiento ya sea de manera verbal, por medios físicos y/o electrónicos son los siguientes:
  </p>
  <p>
    Datos de identificación: Nombre, edad, sexo, domicilio, número de teléfono (casa, trabajo, celular, otro), correo electrónico, estado civil, lugar y fecha de nacimiento, escolaridad, datos profesionales (ocupación, grado de estudios, puestos, correo de trabajo), número de hijos, firma, entre otros.
  </p>
  <p>
    Datos sobre características físicas: Características físicas relativas a su fisonomía y/o anatomía, imagen y voz.
  </p>
  <p>
    Datos sensibles: Acorde al presente aviso de privacidad podremos recabar alguno de los siguientes datos personales los cuales serán tratados con la calidad de sensibles en términos de la ley, que requieren de especial protección tales como por ejemplo: creencias religiosas, morales, políticas, filosóficas, origen racional o étnico, estado de salud, preferencia sexual, entre otros.
  </p>
  <p>
    Datos económicos y patrimoniales: Aquellos datos que revelan el nivel socio económico del participante, si usted cuenta con algún servicio bancario, monto de ingresos brutos, información patrimonial, entre otros.
  </p>
  <p>
    En caso de menores de edad, los datos recabados serán con previo consentimiento de alguno de sus padres o tutores, a fin de llevar a cabo el estudio de investigación de mercados.
  </p>
  <p>
    Los datos personales que no sean considerados datos sensibles, económicos o patrimoniales, y el Titular no se oponga a los términos del presente Aviso de Privacidad se considerara acordado y consentido a su contenido, en términos del tercer párrafo del artículo 8 de la LFPDPPP.
  </p>

  <h2>II. Finalidad de uso de los datos personales.</h2>

  <p>Declaramos que la información proporcionada por el participante en nuestros estudios de Investigación de Mercados será utilizada para las siguientes finalidades:</p>

  <p>A efecto de usarla, almacenarla, manejarla y/o aprovecharla y, específicamente, para fines de investigación del estudio en curso.</p>

  <p>Proveer los servicios y productos requeridos por usted o cualquiera de nuestros clientes; Informar sobre cambios o nuevos productos o servicios que estén relacionados con nuestros clientes para dar cumplimiento a las obligaciones contraídas con los mismos; Evaluar la calidad del servicio y realizar estudios internos sobre hábitos de consumo.</p>

  <p>Estamos respaldados bajo la ley para poder recabar sus datos personales de distintas formas:</p>
  Cuando usted nos los proporciona directamente; cuando visita nuestro sitio de Internet o utiliza nuestros servicios en línea, y cuando obtenemos información a través de otras fuentes que están permitidas por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.




  <h2>III. Transferencia de datos.</h2>

  <p>Con fundamento en lo dispuesto en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, el responsable podrá llevar a cabo transferencias de datos personales sin autorización del titular.</p>

  <p>Podrá realizar la transferencia de sus datos personales y ser tratados dentro y fuera del país, por tercero(s) sin un fin comercial, ni ilícito, sino únicamente para cumplir con la prestación de los servicios contratados y los socios comerciales que directamente administren y operen la información recabada en el estudio, para detectar perfiles que puedan participar en estudios de investigación de mercados. En ningún caso comercializaremos, venderemos o rentaremos información personal sobre usted a un tercero sin un consentimiento previo de su parte. Si Usted no manifiesta su oposición, se entiende que ha otorgado su consentimiento para la transmisión de sus datos.</p>

  <p>IV. Conservación y seguridad de los datos personales.</p>

  <p>Focus Investigación conservará los datos personales del participante durante el tiempo que sea necesario para procesar la investigación de mercado, así sus solicitudes de información, y para mantener los registros contables, financieros y de auditoría en términos de la LFPDPPP y de la legislación mercantil, fiscal y administrativa vigente.</p>

  <p>Toda la información agregada y datos personales que se obtengan de usted a través del uso de los formatos, podrán compilarse y fijarse a fin de constituir una base de datos propiedad exclusiva de Focus Investigación; dicha información se almacena para protegerla y evitar su pérdida, uso indebido, o alteración. No obstante lo anterior, Focus Investigación en ninguna forma garantiza su seguridad, ni que la misma pueda ser interceptada, alterada o sustraída por terceros al viajar por internet.</p>

  <p>Los datos personales del Titular recolectados por Focus Investigación se encontrarán protegidos por medidas de seguridad administrativas, técnicas y físicas adecuadas contra el daño, pérdida, alteración, destrucción o uso, acceso o tratamiento no autorizados, de conformidad con lo dispuesto en la LFPDPPP y de la regulación administrativa derivada de la misma.</p>

  <p>Focus Investigación podrá usar "cookies" o "web beacons" para confirmar su identificación al tener acceso a nuestros sitios, con el propósito de otorgarle un servicio personalizado. Mediante el uso de las "cookies", no recabamos datos personales de los usuarios.</p>


  <h2>V. Área responsable y derechos ARCO.</h2>

  <p>Como Titular de los datos proporcionados, puede ejercer los derechos de Acceso, Rectificación, Cancelación y/o Oposición al tratamiento de sus datos personales (ARCO), así como  revocar el consentimiento que para tal fin nos haya otorgado.</p>

  <p>A fin de ejercer sus derechos ARCO, deberá de dirigir su solicitud a a través del correo electrónico: contactotij@focus.com.mx, al teléfono (664) 6342930 / 6342815, o directamente en nuestras oficinas, ubicadas en  Ave. Santa María 2841 Col. América C.P. 22044 en Tijuana, Baja California.</p>

  <p>La solicitud la deberá realizarse en términos del artículo 29 de la Ley, es decir, deberá de contener al menos: (1) nombre y domicilio u otro medio para comunicarle la respuesta a su solicitud, de preferencia correo electrónico; (2) documentos que acrediten su identidad o, en su caso, la representación legal; (3) descripción clara y precisa de los datos personales respecto de los que se solicita ejercer alguno de los derechos ARCO, (4) manifestación expresa para revocar su consentimiento al tratamiento de sus datos personales y por tanto, para que no se usen; (5) cualquier otro elemento que facilite la localización de los datos personales.</p>

  <p>Para el caso de que la solicitud sea presentada por una persona distinta, deberá presentar carta poder expedida por el titular de los datos personales, suscrita ante dos testigos y anexando copia simple de la identificación oficial de Usted y del representante legal.</p>


  <h2>VI. Cambios al Aviso de Privacidad</h2>

  <p>Focus Investigación  se reserva el derecho de realizar modificaciones futuras al presente Aviso de Privacidad, para cumplir con reformas jurídicas y/o modificaciones a las políticas internas. Dichas modificaciones serán comunicadas por cualquiera de los medios autorizados por la Ley.</p>

  <p>Cualquier modificación a este aviso de privacidad podrá consultarla en <a href="http://focus.mx">http://focus.mx<a/>.</p>
  Fecha última actualización 02/08/2018
</div>

{% endblock %}
